{% extends 'plantilla.html' %}


{% block titulopagina %} DatePicker {% endblock %}


{% block link %}
{% endblock %}


{% block contentfluid %}

<!-- ------------------------------------------------------------------------------------------------------- -->

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>Dias mas Vendidos</h4>
            <p class="mb-0">Sumatoria de ventas total registradas</p>
        </div>
    </div>
</div>
<!-- ------------------------------------------------------------------------------------------------------- -->

<div class="row">
    {% for dias in top3 %}
    <div class="col-lg-4 col-sm-4">
        <div class="card">
            <div class="stat-widget-two card-body">
                <div class="stat-content">
                    <div class="stat-text">{{dias[3]}}</div>
                    <div class="stat-digit"> <i class="fa fa-usd"></i>{{dias[5]}}</div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-{{dias[4]}} w-85" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- ----------------------------------------GRAFICO 1 PIE--------------------------------------------------------------- -->

<div class="row">
    <div class="col-lg-12 col-sm-12">
        <div id="chart_pie" class="chart_pie"></div>
    </div>
</div>
<br>
<!-- -----------------------------------------TABLA DATOS -------------------------------------------------------------- -->
<br>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Ventas Diarias Totales</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example" class="display" style="min-width: 845px">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Total Diario</th>
                                <th>Dia</th>
                                <th>Estacion</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in lista_datos %}
                            <tr>
                                <td>{{item[0]}}</td>
                                <td>{{item[1]}}</td>
                                <td>{{item[2]}}</td>
                                <td>{{item[6]}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Fecha</th>
                                <th>Total Diario</th>
                                <th>Dia</th>
                                <th>Estacion</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- --------------------------------------------GRAFICO 2----------------------------------------------------------- -->

<div class="row">
    <div class="col-lg-12 col-sm-12">
        <div class="card">
            <div class="stat-widget-two card-body">
                <div class="card-body">
                    <div id="chart2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ----------------------------------------INTENTO DE GRAFICO TIEMPO REAL--------------------------------------------------------------- -->
<div class="row">
    <div class="col-lg-6 col-sm-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Realtime Chart</h4>
            </div>
            <div class="card-body">
                <div id="flotRealtime1" class="flot-chart"></div>
            </div>
        </div>
    </div>
</div>
<!-- ----------------------------------------INTENTO DE GRAFICO TIEMPO REAL--------------------------------------------------------------- -->
<div class="row">
    <div class="col-lg-6 col-sm-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Realtime Chart</h4>
            </div>
            <div class="card-body">
                <div id='graficoprueba'><!-- Plotly chart will be drawn inside this DIV --></div>
            </div>
        </div>
    </div>
</div>

<!-- ------------------------------------------------------------------------------------------------------- -->
{% endblock %}



{% block script %}
<script type="text/javascript">
    var graphs = {{grafico | safe}};
    Plotly.plot("chart_pie",graphs,{});

    var graphs2 = {{plot2 | safe}};
    Plotly.plot("chart2",graphs2,{});


</script>
<script>


var trace1 = {
  x: [1, 2, 3, 4],
  y: [10, 15, 13, 17],
  type: 'scatter'
};

var trace2 = {
  x: [1, 2, 3, 4],
  y: [16, 5, 11, 9],
  type: 'scatter'
};

var data = [trace1, trace2];

Plotly.newPlot('graficoprueba', data);
</script>
<script src="{{url_for('static', filename = './vendor/flot/jquery.flot.js')}}"></script>
<script src="{{url_for('static', filename = './vendor/flot/jquery.flot.pie.js')}}"></script>
<script src="{{url_for('static', filename = './vendor/flot/jquery.flot.resize.js')}}"></script>
<script src="{{url_for('static', filename = './vendor/flot-spline/jquery.flot.spline.min.js')}}"></script>
<script src="{{url_for('static', filename = './js/plugins-init/flot-init.js')}}"></script>
<script src="{{url_for('static', filename = './js/plotly-latest.min.js')}}"></script>



{% endblock %}